<html>
<head>
  <title>Haln's Website for ozo2003's SG Borderlands 3 Event</title>
  <link rel="stylesheet" href="/public/main.css">
</head>
<body>
  <h1>Haln's Website for SG Borderlands 3 event</h1>
  <% if (!user) { %>
  	<h2>Welcome to haln's website! Please log in.</h2>
  	<p><a href="auth/steam">Sign On with Steam</a></p>
  <% } else { %>
  	<h2>Hello, <%= user.displayName %>. - <a href='logout'>Logout</a></h2>
  <% } %>

  <!-- Should redirect to homepage if you're not logged in -->
  <p><a href="account">See Account Information</a></p>
</body>
</html>
