body {
  font-family: Verdana, Helvetica, sans-serif;
  background-image: url("https://images.igdb.com/igdb/image/upload/t_original/ar5cj.png");
  background-color: #000000;
}

ul{
  background-color: hsla(360, 100%, 100%, 0.8);
}
